<div class = "begin d-flex  justify-content-center align-items-center">
  <div>
    <div>
      <div class="top-nav d-flex justify-content-around">
        <h6>portfolio</h6>
        <h6>skills</h6>
        <h6>about</h6>
      </div>
      <h1>Thomas Temple</h1>
    </div>
  </div>
</div>
<div class="port-lumina">

</div>
<div class="port-spin">

</div>
<div class="port-rad">

</div>
<div class="port-article">

</div>
<div class="port-portfolio">

</div>
<div class="skills">

</div>
<div class="about">

</div>
