// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.contact {
  width: 400px;
}

.custom-container {
  margin-left: 60px !important;
  margin-right: 60px !important;
}


.lumina-image-position {
  width: 700px;
  position: absolute;
  right: 340px;
  bottom: 165px;
  z-index: 1
}
