// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.contact {
  width: 400px;
}

.custom-container {
  margin-left: 60px !important;
  margin-right: 60px !important;
  // position: absolute;
}

.inner-skill-container {
  height: 500px;
  // width: 1200px;
  position: relative;
}


.central-container {
  width: 1000px;
  position: absolute;
  height: 600px;
}

.central-container-lumina {
  width: 1000px;
  position: absolute;
  height: 600px;
}

.lumina-button {
  font-family: Raleway;
  font-weight: 300;
  // background-color: #DAD1E9;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 110px;
  transition: 0.5s;
  border: 3px solid black;
  box-shadow:2px 2px #ff68b4,
              4px 4px black,
              6px 6px #bc8ce2;
}

.media-icons {
  padding:12px;
  border: 3px solid black;
  box-shadow:
            2px 2px #ff68b4,
            6px 6px black;
}

.contact {
  padding:12px;
  border: 3px solid black;
  box-shadow:2px 2px #ff68b4,
              4px 4px black,
              6px 6px #bc8ce2;
  background-color: bisque;
}

.spin-button {
  font-family: Raleway;
  font-weight: 300;
  // background-color: #DAD1E9;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 110px;
  border: 3px solid black;
  transition: 0.5s;
  box-shadow:
            2px 2px #0089ff,
            4px 4px black,
            6px 6px #adadff;
}

.lumina-button:hover {
  background-color:#ff7272;
  font-weight:500;
  color:#eaeaea;
}

.spin-button:hover {
  background-color:#7bceff;
  font-weight:500;
  color:#eaeaea;
}

.preview {
  background-color: #DAD1E9;
}

.site {
  background-color: #D8ABAB;
  margin-left: 80px;
}

.button-selection-lumina {
  position: absolute;
  bottom: 100px;
  left: 200px;
  z-index: 3;
}

.button-selection-spin {
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 3;
}

.front-end {
  height:100px;
  width: 350px;
  background-color: #3D3D3D;
  border-radius: 4px;
}

.front-end-skills {
  height: 200px;
  width: 770px;
  background-color: #3D3D3D;
  position: relative;
  // right: -100px;
  border-radius: 4px;
}

.about-inner p {
  font-family: Raleway;
}

.inner-container-detail {
  display:flex;
  justify-content: center;
}

.change-to-column {
  display:flex;
  justify-content:center;
}

.d-flex-toggle {
  display:flex;
  // justify-content:center;
}

.lumina-modal-header {
  background-color: #DFF4FB;
}

.lumina-modal-body {
  height: 2615px;
  background-color: #DFF4FB;
}

.rad-modal-header {
  background-color: #A5C9FF;
}

.rad-modal-body {
  height: 1775px;
  background-color: #A5C9FF;
}
