// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.contact {
  width: 400px;
}

.custom-container {
  margin-left: 60px !important;
  margin-right: 60px !important;
  // position: absolute;
}


.central-container {
  width: 1000px;
  position: absolute;
  height: 600px;
}

.port-button {
  font-family: Raleway;
  font-weight: 300;
  // background-color: #DAD1E9;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 110px
}

.preview {
  background-color: #DAD1E9;
}

.site {
  background-color: #D8ABAB;
  margin-left: 80px;
}

.button-selection-lumina {
  position: absolute;
  bottom: 100px;
  left: 200px;
  z-index: 4
}

.button-selection-spin {
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 4
}
