@media screen and (max-width: 600px) {
  .begin h4 {
    text-align: center;
  }
  .top-response {
    flex-direction: column;
    text-align:center;
  }
  .contact {
    width: 0;
  }
  .lumina-text {
    position: inherit!important;
    text-align: center;
  }
  .lumina-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .lumina-paragraph {
    font-size: 17px;
  }
  .lumina-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .port-lumina {
    height:1180px!important;
  }
  .central-container-lumina {
    position: inherit!important;
  }
  .button-selection-lumina {
    justify-content: center;
    position:inherit!important;
  }
  .icons-selector {
    margin-left:58px;
  }
  .port-spin {
    height:1180px!important;
  }
  .spin-position {
    position:inherit!important;
  }
  .spin-text {
    position:inherit!important;
    text-align:center;
  }
  .spin-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .spin-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
 .button-selection-spin {
    justify-content: center;
    position:inherit!important;
  }
 .port-rad {
    height:1180px!important;
  }
  .rad-text {
    font-size: 42px!important;
    position: inherit!important;
    text-align:center;
  }
  .article-text {
    font-size: 42px!important;
    position: inherit!important;
    text-align:center;
  }
  .rad-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .rad-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
.port-article {
    height:1180px!important;
  }
}

.top-nav:hover {
  fill:red;
}


.begin {
  height: 650px;
  width:auto;
  background-color: #705693;
}

.begin h1 {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 64px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.header-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 64px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.begin-content {
  height: 400px;
  width:800px;
}

.begin h4 {
  color:#F0F7F4;
  font-family: Raleway;
  font-weight: lighter;
}

.top-nav h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: lighter;
  font-size: 36px;
  color:#F0F7F4;
  // -webkit-text-stroke-width: 0.1px;
  // -webkit-text-stroke-color: black;
}

.port-lumina {
  height: 700px;
  width:auto;
  background-color: #DFF4FB;
  position: relative;
}

.lumina-text {
  position: absolute;
  right: 40%;
  top: 8%;
  font-size: 54px !important;
}

.lumina-content {
  width: 375px;
  height: 600px;
  position: absolute;
  right: -29px;
  top: 37px;
  background-color: #8645B9;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // z-index: 100;
}

.lumina-image-position {
  width: auto;
  height: 475px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 3;
}

.lumina-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
  padding-left: 40px;
}

.port-spin {
  height: 700px;
  width:auto;
  background-color: #CCE3FF;
}

.spin-content {
  width: 375px;
  height: 600px;
  position: absolute;
  padding-right: 40px;
  // left: 140px;
  top: 37px;
  background-color: #67829B;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.spin-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
  padding-right:60px;
}

.other-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
  padding-left:60px;
}

.spin-image-position {
  // width: 710px;
  z-index: 1;
  height: 475px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.spin-position {
  position: relative;
}

.spin-text {
  position: absolute;
  top: -78px;
  right: 500px;
  font-size: 54px !important;
}

.rad-text {
  position: absolute;
  top: -78px;
  right: 500px;
  font-size: 54px;
}

.article-text {
  position: absolute;
  top: -78px;
  right: 500px;
  font-size: 54px;
}

.port-rad {
  height: 700px;
  width:auto;
  background-color: #A5C9FF;
}

.rad-image-position {
  // width: 710px;
  z-index: 1;
    height: 475px;
    // width: 693px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.rad-content {
  width: 375px;
  height: 600px;
  position: absolute;
  right: -29px;
  top: 37px;
  // background-color: #305577;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // z-index: 100;
}

.rad-color {
  background-color: #305577;
}

.port-color {
  background-color: #233342;
}

.port-article {
  height: 700px;
  width:auto;
  background-color: #404245;
}

.port-portfolio {
  height: 700px;
  width:auto;
  background-color: #fbfbfb;
}

.skills {
  background-color: #856A96;
  height: 700px;
  width:auto;
}

.skills-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 48px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.skills-content-text {
  font-family: raleway;
  font-size: 16px;
  color:#FEFEFE;
  font-weight:300;
}

.skills-half-container {
  width:140px;
  height:300px;
  display:flex;
  justify-content: space-around;
  flex-direction:column;
}

.about {
  background-color: #705693;
  height: 720px;
  width:auto;
}

.backennd-skills {
  width: 350px;
  height: 350px;
  background-color: #3D3D3D;
  margin-left:34px;
  position: relative;
  top: -20px;
}

.tools-skills {
  width: 350px;
  height: 300px;
  background-color: #3D3D3D;
  // margin-left:26px;
  position: relative;
  top: 30px;
  margin-right: 34px;
}

.about-header {
  width: 222px;
  height: 198px;
  background-color: #E3BABA;
  text-align:right;
  padding-right:20px;
    position: relative;
    top: -40px;
    left: -40px;
}

.about-container {
  width:1100px;
}

.development {
  height:200px;
  width:900px;
  background-color: #D8DDE9;
}

.home {
  height:200px;
  width:900px;
  background-color: #CABEFA;
  // margin: 11px;
}

.interests {
  height:200px;
  width:900px;
  background-color: #C9D1FF;
}

.fun-fact {
  width: 320px;
  height:280px;
  background-color: #E3BABA;
  position: relative;
  top: -80px;
  left: 48px;
}

.about-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 40px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.flag-container {
  height: 155px;
  width: 155px;
  // margin-top: 50px;
  border-radius:50%;
  margin-right:124px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.interests-container {
  height: 155px;
  width: 155px;
  // margin-top: 50px;
  border-radius:50%;
  margin-left:50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  margin: 0;
  padding: 0;
}
