.begin {
  height: 650px;
  width:auto;
  background-color: #705693;
}

.begin h1 {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 64px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.header-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 64px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.begin-content {
  height: 400px;
  width:800px;
}

.begin h4 {
  color:#F0F7F4;
  font-family: Raleway;
  font-weight: lighter;
}

.top-nav h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color:#F0F7F4;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.port-lumina {
  height: 650px;
  width:auto;
  background-color: #DFF4FB;
  position: relative;
}

.lumina-text {
  position: absolute;
  right: 40%;
  top: 10%;
  font-size: 54px !important;
}

.lumina-content {
  width: 400px;
  height: 600px;
  position: absolute;
  right: 18%;
  top: 28%;
  background-color: #8645B9;
  height: auto;
  padding: 36px;
  // z-index: 100;
}

.lumina-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
}

.port-spin {
  height: 650px;
  width:auto;
  background-color: #CCE3FF;
}

.port-rad {
  height: 650px;
  width:auto;
  background-color: #A5C9FF;
}

.port-article {
  height: 650px;
  width:auto;
  background-color: #404245;
}

.port-portfolio {
  height: 650px;
  width:auto;
}

.skills {
  background-color: #856A96;
  height: 650px;
  width:auto;
}

.about {
  background-color: #705693;
  height: 650px;
  width:auto;
}



* {
  margin: 0;
  padding: 0;
}
