@media only screen and (max-width: 900px) {
  .the-start {
  max-width:900px!important;
  }
  .begin h4 {
    text-align: center;
  }
  .top-response {
    flex-direction: column;
    text-align:center;
  }
  .contact {
    width: 0;
  }
  .lumina-text {
    position: inherit!important;
    text-align: center;
  }
  .lumina-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .lumina-paragraph {
    font-size: 17px;
  }
  .lumina-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    width:100%!important;
    height:260px!important;
  }
  .port-lumina {
    height:1320px!important;
  }
  .content-between-toggle {
    display:flex;
    justify-content:center!important;
    width:inherit!important;
  }
  .inner-container-detail {
    display:inherit!important;
  }
  .central-container-lumina {
    position: inherit;
    width:inherit!important
  }
  .button-selection-lumina {
    position:inherit!important;
    justify-content: center;
    width: 750px;
  }
  .lumina-image-position {
    width: 100%!important;
    height: 100%!important;
  }
 .port-spin {
    height:1320px!important;
  }
  .spin-text {
    text-align: center;
    position:initial!important;
  }
  .spin-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    width:100%!important;
    height:230px!important
  }
  .spin-image-position {
    position: inherit!important;
    // height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    width: 100%!important;
    height: 100%!important;
  }
 .button-selection-spin {
    justify-content: center;
    position:inherit!important;
  }
 .port-rad {
    height:1320px!important;
  }
  .rad-text {
    font-size: 42px!important;
    position: initial!important;
    text-align:center;
  }
  .article-text {
    font-size: 42px!important;
    position: inherit!important;
    text-align:center;
  }
  .rad-image-position {
    position: inherit!important;
    height:100%!important;
    width:100%;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    // margin-left: 60px;
  }
  .rad-content {
    position: inherit!important;
    width: 100%!important;
    height: 265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .port-image-position {
    position: inherit!important;
    height:100%!important;
    width:100%!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    // margin-left: 60px;
  }
  .port-content {
    position: inherit!important;
    width:100%!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    margin:0 auto;
  }
  .port-article {
      height:1320px!important;
    }
  .port-portfolio {
      height:1320px!important;
    }
  .skills {
    height: 2228px!important;
  }
  .custom-container-skills {
    display: flex;
    justify-content: center;
  }
  .change-to-column {
    flex-direction: column!important;
  }
  .d-flex-toggle {
    display:contents!important;
  }
  .front-end-skills {
    height: 400px;
    width: 500px;
  }
  .front-end-center {
    justify-content:center;
  }
  .skills-content-text {
    position: inherit!important;
  }
  .marg-change {
    margin:16px;
  }
  .backennd-skills {
    margin-left: 0px!important;
    margin-top: 60px;
    width:500px!important;
    height:300px!important;
  }
  .skills-text {
    margin-left:0px!important;
    width:500px;
  }
  .arrow-down {
    transform: rotate(90deg);
    position: relative;
    left: 195px;
    bottom: 40px;
  }
  .arrow-down-again {
    transform: rotate(270deg)!important;
    position: relative;
    left: 195px;
    bottom: 40px;
    margin-top: 62px!important;
  }
  .backend {
    margin-top:0px!important;
  }
  .last-arrow {
    margin-top: 82px!important;
  }
  .tools-skills {
    top:0px!important;
    width:500px!important;
  }
  .about-flex {
    justify-content: center!important;
  }
  .icons-selector {
    width:0px!important;
    // justify-content:center!important;
  }
  .content-between-toggle {
    display:flex;
    justify-content:center!important;
  }
  .contact {
    width: inherit;
  }
  .about {
    height: 1700px!important;
  }
  .about-dflex-change {
    display:inherit!important;
    // flex-direction: column;
    // align-items: inherit!important;
  }
  .content-selector {
    display:inherit;
  }
  .about-header {
    position:inherit!important;
  }
  .width-fix {
    // width:-webkit-fill-available;
  }
  .development {
    height:400px!important;
    width:700px!important;
    display:inherit!important;
    margin-bottom: 16px;
  }
  .development img {
    margin-top:22px!important;
  }
  .align-items-selector {
    justify-content:center!important;
  }
  .align-items-selector img {
    margin-left: 0px!important;
  }
  .about-text {
    text-align: center;
    padding-top: 16px;
  }
  .development p {
    text-align: center;
  }
  .home {
    height:400px!important;
    width:700px!important;
    display:inherit!important;
    margin-bottom: 16px;
  }
  .content-selector {
    display:inherit!important;
  }
  .flag-container {
    margin:auto;
    margin-right: auto!important;
  }
  .home p {
    text-align:center;
    margin-top:24px;
  }
  .about-header {
    display:inline;
    padding-right:120px!important;
  }
  .about-text {
    padding-top: 22px;
  }
  .interests {
    height:400px!important;
    width:700px!important;
    display:inherit!important;
    margin-bottom: 16px;
  }
  .display-selector {
    display:inherit!important;
  }
  .interests p {
    text-align:center;
    margin-top:24px;
  }
  .interests-container {
    margin-top: 16px;
  }
  .fun-fact {
    position: inherit!important;
    width: 700px;
    height: 172px!important;
  }
  .select-header-flex {
    display:inherit!important;
  }
}






@media screen and (max-width: 600px) {
  .begin h4 {
    text-align: center;
  }
  .top-response {
    flex-direction: column;
    text-align:center;
  }
  .contact {
    width: 0;
  }
  .lumina-text {
    position: inherit!important;
    text-align: center;
  }
  .lumina-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .lumina-paragraph {
    font-size: 17px;
  }
  .lumina-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    height: 520px!important;
  }
  .port-lumina {
    height:1280px!important;
  }
  .central-container-lumina {
    position: inherit!important;
  }
  .button-selection-lumina {
    justify-content: inherit!important;
    position:inherit!important;
  }
  .icons-selector {
    margin-left:58px;
  }
  .port-spin {
    height:1280px!important;
  }
  .spin-position {
    position:inherit!important;
  }
  .spin-text {
    position:inherit!important;
    text-align:center;
  }
  .spin-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    height:550px!important;
  }
  .spin-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
 .button-selection-spin {
    justify-content: center;
    position:inherit!important;
  }
 .port-rad {
    height:1180px!important;
  }
  .rad-text {
    font-size: 42px!important;
    position: inherit!important;
    text-align:center;
  }
  .article-text {
    font-size: 42px!important;
    position: inherit!important;
    text-align:center;
  }
  .select-header-flex {
    display:inherit!important;
  }
  .rad-image-position {
    position: inherit!important;
    height:265px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    // margin-left: 60px;
  }
  .rad-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
  }
  .port-image-position {
    position: inherit!important;
    height:265px!important;
    // width:388px!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    // margin-left: 60px;
  }
  .port-content {
    position: inherit!important;
    border-radius: 0px!important;
    margin-bottom: 20px!important;
    margin:0 auto;
  }
  .port-article {
      height:1180px!important;
    }
  .port-portfolio {
      height:1180px!important;
    }
  .skills {
    height: 2228px!important;
  }
  .change-to-column {
    flex-direction: column!important;
  }
  .d-flex-toggle {
    display:contents!important;
  }
  .front-end-skills {
    height: 500px!important;
    width: 350px!important;
  }
  .skills-content-text {
    position: inherit!important;
  }
  .marg-change {
    margin:16px;
  }
  .backennd-skills {
    margin-left: 0px!important;
    margin-top: 60px;
    width: 350px!important;
    height: 350px!important;
  }
  .skills-text {
    margin-left:0px!important;
    width:350px;
  }
  .arrow-down {
    transform: rotate(90deg);
    position: relative;
    left: 110px;
    bottom: 40px;
  }
  .arrow-down-again {
    transform: rotate(270deg)!important;
    position: relative;
    left: 110px;
    bottom: 40px;
    margin-top: 62px!important;
  }
  .backend {
    margin-top:0px!important;
  }
  .last-arrow {
    margin-top: 82px!important;
  }
  .tools-skills {
    top:0px!important;
    width: 350px!important;
  }
  .about-flex {
    justify-content: center!important;
  }
  .icons-selector {
    width:0px!important;
    // justify-content:center!important;
  }
  .content-between-toggle {
    display:flex;
    justify-content:center!important;
  }
  .contact {
    width: inherit;
  }
  .about {
    height: 1920px!important;
  }
  .about-dflex-change {
    display:inherit!important;
    // flex-direction: column;
    // align-items: inherit!important;
  }
  .content-selector {
    display:inherit;
  }
  .about-header {
    position:inherit!important;
  }
  .width-fix {
    width:-webkit-fill-available;
  }
  .development {
    height:450px!important;
    width:400px!important;
    display:inherit!important;
    margin-bottom: 16px;
  }
  .align-items-selector {
    justify-content:center!important;
  }
  .align-items-selector img {
    margin-left: 0px!important;
  }
  .about-text {
    text-align: center;
    padding-top: 16px;
  }
  .development p {
    text-align: center;
  }
  .home {
    height:450px!important;
    width:400px!important;
    display:inherit!important;
    margin-bottom: 16px;
  }
  .content-selector {
    display:inherit!important;
  }
  .flag-container {
    margin:auto;
  }
  .home p {
    text-align:center;
    margin-top:24px;
  }
  .about-header {
    display:inline;
  }
  .about-text {
    padding-top: 0px;
  }
  .interests {
    height:450px!important;
    width:400px!important;
    display:inherit!important;
    margin-bottom: 16px;
  }
  .display-selector {
    display:inherit!important;
  }
  .interests p {
    text-align:center;
    margin-top:24px;
  }
  .interests-container {
    margin-top: 16px;
  }
  .fun-fact {
    position: inherit!important;
  }
}

.top-nav:hover {
  fill:red;
}


.begin {
  height: 650px;
  width:auto;
  background-color: #705693;
}

.begin h1 {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 64px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.header-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 64px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.begin-content {
  height: 400px;
  width:800px;
}

.begin h4 {
  color:#F0F7F4;
  font-family: Raleway;
  font-weight: lighter;
}

.top-nav h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: lighter;
  font-size: 36px;
  color:#F0F7F4;
  // -webkit-text-stroke-width: 0.1px;
  // -webkit-text-stroke-color: black;
}

.port-lumina {
  height: 700px;
  width:auto;
  background-color: #DFF4FB;
  position: relative;
}

.lumina-text {
  position: absolute;
  right: 40%;
  top: 8%;
  font-size: 54px !important;
}

.lumina-content {
  width: 375px;
  height: 600px;
  position: absolute;
  right: -29px;
  top: 37px;
  background-color: #8645B9;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // z-index: 100;
}

.lumina-image-position {
  width: auto;
  height: 475px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 3;
}

.lumina-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
  padding-left: 40px;
}

.port-spin {
  height: 700px;
  width:auto;
  background-color: #CCE3FF;
}

.spin-content {
  width: 375px;
  height: 600px;
  position: absolute;
  padding-right: 40px;
  // left: 140px;
  top: 37px;
  background-color: #67829B;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.spin-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
  padding-right:60px;
}

.other-paragraph {
  font-family: Raleway;
  font-size: 18px;
  color:white;
  font-weight:100;
  padding-left:60px;
}

.spin-image-position {
  // width: 710px;
  z-index: 1;
  height: 475px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.spin-position {
  position: relative;
}

.spin-text {
  position: absolute;
  top: -78px;
  right: 500px;
  font-size: 54px !important;
}

.rad-text {
  position: absolute;
  top: -78px;
  right: 500px;
  font-size: 54px;
}

.article-text {
  position: absolute;
  top: -78px;
  right: 500px;
  font-size: 54px;
}

.port-rad {
  height: 700px;
  width:auto;
  background-color: #A5C9FF;
}

.rad-image-position {
  // width: 710px;
  z-index: 1;
  height: 475px;
    // width: 693px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.rad-content {
  width: 375px;
  height: 600px;
  position: absolute;
  right: -29px;
  top: 37px;
  // background-color: #305577;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // z-index: 100;
}

.rad-image-position {
  // width: 710px;
  z-index: 1;
  height: 475px;
    // width: 693px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.rad-color {
  background-color: #305577;
}

.port-content {
  width: 375px;
  height: 600px;
  position: absolute;
  right: -29px;
  top: 37px;
  // background-color: #305577;
  height: 464px;
  padding: 36px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // z-index: 100;
}

.port-color {
  background-color: #233342;
}

.port-article {
  height: 700px;
  width:auto;
  background-color: #404245;
}

.port-portfolio {
  height: 700px;
  width:auto;
  background-color: #fbfbfb;
}

.port-image-position {
  z-index: 1;
  height: 475px;
  width:693px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // box-shadow: rgba(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}


.skills {
  background-color: #856A96;
  height: 700px;
  width:auto;
}

.skills-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 48px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.skills-content-text {
  font-family: raleway;
  font-size: 16px;
  color:#FEFEFE;
  font-weight:300;
}

.skills-half-container {
  width:140px;
  height:300px;
  display:flex;
  justify-content: space-around;
  flex-direction:column;
}

.about {
  background-color: #705693;
  height: 720px;
  width:auto;
}

.backennd-skills {
  width: 350px;
  height: 350px;
  background-color: #3D3D3D;
  margin-left:34px;
  position: relative;
  top: -20px;
}

.tools-skills {
  width: 350px;
  height: 300px;
  background-color: #3D3D3D;
  // margin-left:26px;
  position: relative;
  top: 30px;
  margin-right: 34px;
}

.about-header {
  width: 222px;
  height: 198px;
  background-color: #E3BABA;
  text-align:right;
  padding-right:20px;
    position: relative;
    top: -40px;
    left: -40px;
}

.about-container {
  width:1100px;
}

.development {
  height:200px;
  width:900px;
  background-color: #D8DDE9;
}

.home {
  height:200px;
  width:900px;
  background-color: #CABEFA;
  // margin: 11px;
}

.interests {
  height:200px;
  width:900px;
  background-color: #C9D1FF;
}

.fun-fact {
  width: 320px;
  height:280px;
  background-color: #E3BABA;
  position: relative;
  top: -80px;
  left: 48px;
}

.about-text {
  font-family: 'Barrio', cursive;
  color:#F0F7F4;
  font-size: 40px;
  text-border: 3px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.flag-container {
  height: 155px;
  width: 155px;
  // margin-top: 50px;
  border-radius:50%;
  margin-right:124px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.interests-container {
  height: 155px;
  width: 155px;
  // margin-top: 50px;
  border-radius:50%;
  margin-left:50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.content-between-toggle {
  display:flex;
  justify-content:space-between;
}

.about-dflex-change {
  display:flex;
  justify-content:flex-end;
}

.content-selector {
  display:flex;
  justify-content:center;
}

.align-items-selector {
  display:flex;
  align-items:center;
}

.display-selector {
  display:flex;
}

.select-header-flex {
  display:flex;
  justify-content:center;
}

* {
  margin: 0;
  padding: 0;
}
